<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Canal</th>
        <th>Temporadas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serie of series">
        <td>{{ serie.id }}</td>
        <td>{{ serie.name }}</td>
        <td>{{ serie.channel }}</td>
        <td>{{ serie.seasons }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="average">
    <strong>Promedio de temporadas: </strong>{{ averageSeasons | number: '1.0-0' }}
  </div>
  
  
  
